<!DOCTYPE html>
<html>
  <body>
    <div class="container">
      <h2>Find Repository</h2>
      <form>
        <label for="name">Enter UserName :</label>
        <input type="text" class="form-control" id="name"  name="name"
        placeholder="Username" [(ngModel)]="username">  
      <label for="name"> Enter Repository name :</label>
        <input type="text" class="form-control" id="repository"  name="repository" placeholder=" github repository " [(ngModel)]="repository"> 
        <button type="submit" (click)="showRepo()" class="btn btn-success">Search</button>
          
      </form>
      <div class="row">
        <div class="col-md-4">
          <div class="card" >
          <img src="user.avatar">
          <h5>Name: {{user.name}}</h5>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card">
            <h5>Repo name: {{repo.name}}</h5>
            <h5>Description: {{repo.description}}</h5>
            <h5>Forks: {{repo.forks}}</h5>
            <a href="repo.link"><button class="btn-lg btn-primary">View Repo</button></a>
          </div>
        </div>
      </div>
   </div> 
  </body>
</html>
