<!DOCTYPE html>
<html>
  <body>
    <div class="container">
      <h2>Find Repository</h2>
      <form>
        <label for="name">Enter UserName :</label>
        <input type="text" class="form-control" id="name"  name="name"
        placeholder="Username">  
      <label for="name"> Enter Repository name :</label>
        <input type="text" class="form-control" id="repository"  name="repository" placeholder="repository name"> 
      </form>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
          <h5>Name:</h5>
          <h5>Bio:</h5>
          
          </div>
        </div>
        <div class="col-md-8">
          <div class="card">

          </div>
        </div>
      </div>
   </div> 
  </body>
</html>
