<!DOCTYPE html>
<html>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
        <img src="../assets/GitHub-Mark-64px.png" alt="icon">
        <a class="navbar-brand" routerLink="/about"><b>GITHUB SEARCH</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link " routerLink="/user" routerLinkActive='active'>USERS</a>
            <a class="nav-item nav-link" routerLink="/repository" routerLinkActive='active'>REPOSITORY</a>
          </div>
        </div>
      </nav> 
    </div>
  </body>
</html>
