<!DOCTYPE html>
<html>
  <body>
    <div class="container">
      <h2>Find User</h2>
      <form>
      <label for="name">Enter Github UserName :</label>
        <input type="text" class="form-control" id="name"  name="name"
        placeholder="Github Username" [(ngModel)]="username" >  
        <button class="btn btn-success" (click)="showUser()">SEARCH</button>
        <button type="reset" class="btn btn-info">Clear</button>
    </form>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img class="img-thumbnail" src="{{user.avatar}}">
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <h5 appHighlight >Name: {{user.name}}</h5>
          <h5>Bio: {{user.bio}}</h5>
          <h5>Repositories: {{user.repositories}}</h5>
          <h5>Followers: {{user.followers}}</h5>
          <h5>Following: {{user.following}}</h5>
          <h5>Company: {{user.company}}</h5>
          <h5>last updated: {{user.update|date}} , {{user.update|counter}} days ago</h5>
        </div>
      </div>
    </div>
   </div>
  </body>
</html>
