body{
  background-color: black;
  color: white;
  font-size: 30px;
  font-family: 'Yeon Sung';
  text-align: center;
  height : 760px
}
h2{
  font-size: 50px;
}
.card{
  padding-top: 20px;
  background-color:  grey;
  color: white;
  text-align: left;
  font-size: 30px;
}
h5{
  font-size: 40px;
}
btn{
  margin: 5px;
}